body{
    background: white;
    color: #000;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-style: normal;
    line-height: 150%;
    font-weight: 400;
    background-color: grey;
}
   
  
  .tab-buttons {
    font-family: Arial, sans-serif;
    max-width: 600px;
    margin: 0 auto;
  }
  
  .tab-button {
    background-color: #f1f1f1;
    border: 1px solid #ccc;
    border-bottom: none;
    padding: 10px 20px;
    cursor: pointer;
    position: relative;
    top: 1px;
    transition: background-color 0.3s ease;
  }
  
  .tab-button:hover {
    background-color: white;
  }
  
  .tab-content {
    display: none;
    width: 70%;
    padding: 20px;
    background-color: #ccc;
  }
  
  .active-tab-button {
    background-color: #ccc;
    transform: scaleY(1.1);
    transform-origin: bottom;
  }